@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton&family=Courgette&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:slnt,wght@-10..0,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton&family=Courgette&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:slnt,wght@-10..0,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* header */
.container {
    padding: 0px 70px;
    margin: 0px auto;
}

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #191720;
}

.nav-links li {
    cursor: pointer;
}

.login-btn {
    border: none;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.login-btn:hover {
    cursor: pointer;
}

.signup-btn {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #e94339;
    padding: 8px 15px;
    border-radius: 35px;
}

.signup-btn:hover {
    cursor: pointer;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}

.hero-img {
    width: 450px;
    height: auto;

}


.hero-section-left h1 {
    font-size: 61px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.hero-section-left p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.order-now-input {
    position: relative;
    margin: 20px 0px;
}

.order-now-input input[ type="text"] {
    font-size: 16px;
    padding: 8px 15px;
}

.order-now-input input {
    width: 85%;
    height: 36px;
    border-radius: 50px;
    border: none;
    background-color: #f6f6f6;
}

.order-now-input input:focus {
    outline: none;
}

.order-now-input button {
    position: absolute;
    border-radius: 50px;
    border: none;
    background-color: #e94339;
    color: #fff;
    padding: 10px 15px;
    left: 70%;
    top: 8px;
}

.order-now-input button:hover {
    cursor: pointer;
}

.btn-app-store {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.btn-app-store {
    cursor: pointer;
}

.app-store {
    margin-left: 20px;
    font-weight: bold;
}

.btn-google-play {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.btn-google-play {
    cursor: pointer;
}

.google-play {
    margin-left: 20px;
    font-weight: bold;
}

.download-btn {
    display: flex;
}

.download-text {
    margin-left: 10px;
    font-family: "Inter", sans-serif;
}

/* Order section */

.order-numbers {
    text-align: center;
    margin-top: 200px;
}

.order-numbers h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.order-numbers h1 span {
    color: #FF5331;
}

.order-numbers p {
    color: #191720;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

/* food delivery and deals */
.food-deals-card {
    display: flex;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 28px;
    padding: 50px;
    width: 60px;
    height: 90px;
    margin-right: 150px;
}

.card:hover {
    cursor: pointer;
    scale: 1.0;
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, .2);
    transform: translateY(10px);

}

.card span {
    text-align: center;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.food-item {
    background-color: #fff;
    border-radius: 50px;
    padding: 14px;
}

.food-delivery-card {
    display: flex;
    justify-content: flex-end;
}

.delivery-card {
    background-color: #fafafa;
    border-radius: 28px;
    padding: 30px;
    margin-right: 120px;

}

.delivery-card h3 {
    font-size: 25.8;
    font-family: "Inter", sans-serif;
}

.delivery-card h3 .deals {
    color: #FF5331;
}

.delivery-card h3 .free-delivery {
    color: #009b00;
}

.bike-div {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.delivery-card {
    cursor: pointer;


}

/* second-food-item-card */

.second-food-item-card {
    display: flex;
    margin: 25px 0px;
    margin-left: 120px;
}

.food-item-para {
    margin-top: 20px;
    font-size: 19px;
    font-family: "Inter", sans-serif;
}

/* how order */
.how-order-heading h1 {
    text-align: center;
    font-size: 37px;
    font-family: "Inter", sans-serif;
    margin-top: 100px;
    margin-right: 80px;
}

.how-order-card-number {
    display: flex;


}

.how-order {
    position: relative;
    margin: 100px 50px;
    margin-top: 15px;
    width: 380px;


}

.card .bg-square {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0px;
}

.order-1 {
    position: absolute;
    left: 3px;
    top: 30px;
}

.food-deals-card span {
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.cards {
    margin-left: 15%;
}

.Client-feedback {
    margin-top: 220px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.Client-feedback h1 {
    font-weight: 700;
    font-size: 44px;
}

.Client-feedback p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 10px 0px;
}

.vector-img {
    display: flex;
    padding: 30px 0px;
    justify-content: center;

}

.Client-para {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    padding: 30px 0px;
}

.client {
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 20px 0px;

}

.client-name {
    font-weight: 600;
    font-size: 16px;
    padding: 30px 0px;
}

.client-intro {
    font-weight: 400;
    font-size: 12px;
    color: #616161;
    padding: 20px 0px;
}

.arrow-img {
    justify-content: center;
    display: flex;
    margin: 0px 10px;

}

.subscribe {
    background-color: #FFEFEC;
    padding: 50px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;



}

.subscribe-heading h1 {
    font-family: "Poppins", sans-serif;
    font-size: 43px;
    font-weight: 600;
    margin-left: 100px;
    padding-top: 50px;

}

.subscribe-heading p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-left: 100px;


}

.order-msg-input {
    position: relative;
    margin: 50px 0px;

}

.order-msg-input input[ type="text"] {
    font-size: 16px;
    padding: 8px 15px;
}

.order-msg-input input {
    width: 400px;
    height: 32px;
    border-radius: 50px;
    border: none;
    background-color: #f6f6f6;
}

.order-msg-input input:focus {
    outline: none;
}

.order-msg-input button {
    position: absolute;
    border-radius: 50px;
    border: none;
    background-color: #e94339;
    color: #fff;
    padding: 10px 15px;
    left: 72%;
    top: 8px;
}

/* footer section */
.footer {
    background-color: #000000;
    width: 100%;
    height: 628px;
    display: flex;
    justify-content: space-around;

}

.footer-section-1 {
    display: flex;
    justify-content: space-around;

}

.heading-list {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14.76px;
    color: #FFFF;
    margin-top: 12%;
}

.list {
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14.76px;
    color: #B5B2B2;
    padding: 20px 30px;



}

.list li {
    padding: 10px 0px;
}


.footer-lists {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 80px;

}

.footer-img-btns {
    padding-top: 70px;
}

.footer-img {
    padding-bottom: 70px;
}

.footer-section{
    background-color: #000000;
    padding-bottom: 70px;
}

.food-section {
    color: #fff;
   
}

.food-section span {
    margin-left: 80px;
    color: #B5B2B2;
}



.foods-lists {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 40px 0px;

}

.footer-links ul{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-right: 90px;
}

.footer-links ul li{
    list-style-type: none;
    padding: 0px 20px;
    color: #B5B2B2;
    
}